.footer{
    text-align: center;
}

.footer_logo {
	height: 100px;
}

.footer p{
    margin-top: 0;
}

@media all and (max-width: 980px) {
    .footer_logo {
        height: 75px;
    }
}
@media all and (max-width: 480px) {
    .footer_logo {
        height: 50px;
    }
}