.header {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_logo {
	width: 250px;
}

@media all and (max-width: 980px) {
	.header_logo {
		width: 200px;
	}
}
@media all and (max-width: 480px) {
	.header_logo {
		width: 150px;
	}
}