.login{
    background-image: url("../assets/locaux-entreprise-groupomania.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    min-height: 500px;
    max-height: 600px;
    padding-top: 15vh;
}

.loginContainer{
  max-width: 400px;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 18, 60,0.7);
  color: white;
  border-radius: 20px;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
}

h1, p{
  text-align: center;
  padding-left:5px;
  padding-right: 5px;
}

.loginForm{
  display: flex;
  flex-direction: column;
  width:70%;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 20px;
}

label{
  font-size: 1.3rem;
  flex-direction: column;
  position: relative;
  padding-bottom: 60px;
}

label input{
  position: absolute;
  top: 30px;
  left: 0px;
  padding:5px 5% 5px 5%;
  margin-bottom: 10px;
  border: 1px solid white;
  background-color: rgba(0, 18, 60,0.7);
  font-size: 1rem;
  width: 90%;
  color: white;
}

label input::placeholder { 
  color: rgba(255, 255, 255,0.7);
}

input.submitButton{
margin-left: auto;
margin-right: auto;
font-size: 1rem;
color: rgba(0, 18, 60);
padding: 10px;
width: 200px;
border-radius: 10px;
border-width: 0;
background-color: white;
font-weight: bold;
text-transform: uppercase;
}

input.submitButton:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease 500ms;
}

.login a {
  color: white;
  text-decoration: underline;
}

.error{
  color: rgb(255, 130, 130);
}