ul.navlink {
	list-style-type: none;
}

.navlink li {
	padding: 10px;
}

.navlink a{
	padding: 10px;
	color:red;
	opacity: 0.5;
	text-decoration: none;
	text-transform: uppercase;
}
.navlink a:hover {
	opacity: 1;
}

.navlink .active{
	opacity: 1;
	font-weight: bold;
}

.navigation{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mobileNavigation{
	display: none;
}

@media all and (max-width: 980px) {
	.standardNavigation{
		display: none;
	}
	.mobileNavigation{
		display: block;
		
	}
	.hamburger-btn{
		cursor: pointer;
	}
	.navlink{
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 50px;
		text-align: right;
		width: 50%;
		padding: 15px;
		background-color: white;
		z-index: 1;
	}
}